.slider .axis .axis-tick-mark {
    -fx-stroke: lightskyblue;
}

.slider .axis .axis-minor-tick-mark {
    -fx-stroke: lightblue;
}

.progress-bar { 
	-fx-box-border: deepskyblue; 
	-fx-accent: #30CBFF;
}

.progress-bar .bar {
    -fx-background-insets: 1 0 1 0;
    -fx-padding: 0.15em;
}

.text-area {
    -fx-text-fill: dimgrey;
}

.text-area .content {
	-fx-background-color: #EEEEEE;
}
